/* Muli */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

::-webkit-scrollbar { width: 12px; height: 12px; }

::-webkit-scrollbar-button { background-color: #666; }

::-webkit-scrollbar-track { background-color: #999; }



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

body {
  overflow: hidden;
}

body[theme="dark"] {
  background-color: #222222;
  color: #fff;
}

body {
  font-family: 'Muli', sans-serif !important;
}



:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#menu-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  height: 30px;
}

.menu-button {
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #555;
}

.menu-button[state="active"] {
  background-color: #464646;
  border-bottom: 1px solid #ffffff;
}

#panel {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 40px;
  border-bottom: 1px solid #ccc;
}

#panel[theme="dark"] {
  background-color: #505050;
  color: #fff;
  border-bottom: 1px solid #333;
}

.sub-panel {
  display: none;
}

.sub-button {
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease;
  background-color: rgba(255, 233, 233, 0);
}

.sub-button[theme="dark"] {
  color: #dfdfdf;
}

.sub-button:hover {
  background-color: #ddd;
}

.sub-button[theme="dark"]:hover {
  background-color: #666;
}

.sub-button i {
  margin-right: 5px;
}

#editor {
  position: relative;
  height: calc(100vh - 71px);
}

#editor-textarea {
  width: 100%;
  height: 98%;
  border: none;
  resize: none;
  outline: none;
  font-family: Courier New, monospace;
  font-size: 16px;
  padding: 10px;
}

#editor-textarea::--webkit-scrollbar {
  width: 3px;
}

#editor-textarea::-webkit-scrollbar-track {
  background: #eee;
}

#editor-textarea::-webkit-scrollbar-thumb {
  background: #ccc;
  width: 3px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

#editor-textarea::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

#editor-textarea[theme="dark"]::-webkit-scrollbar-track {
  background: #505050;
}

#editor-textarea[theme="dark"]::-webkit-scrollbar-thumb {
  background: #333;
}

#editor-textarea[theme="dark"]::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#editor-textarea::--webkit-resizer {
  background: #eee;
}

#editor-textarea[theme="dark"]::--webkit-resizer {
  background: #505050;
}

#editor-textarea::--webkit-scrollbar-corner {
  background: #eee;
}

#editor-textarea[theme="dark"]::--webkit-scrollbar-corner {
  background: #505050;
}


#editor-textarea[theme="dark"] {
  background-color: #222222;
  color: #fff;
}

#status-bar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  height: 30px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: 3;
}

#status-bar[theme="dark"] {
  background-color: #505050;
  color: #fff;
  border-top: 1px solid #333;
}

#status-bar div {
  color: #333;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}

#status-bar[theme="dark"] div {
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
}

.modal-content[theme="dark"] {
  background-color: #222222;
  color: #fff;
  border: 1px solid #ccc;
}

.modal-content p {
  margin-bottom: 10px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button[theme="dark"]:hover, .close-button[theme="dark"]:focus {
  color: #ccc;
}

.modal-content h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-content h3[theme="dark"] {
  color: #fff;
}

.modal-content input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 5px 0;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin: 5px 0;
}

.modal-content button:hover {
  background-color: #555;
}

.modal-content label {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

.modal-content label[theme="dark"] {
  color: #fff;
}

.modal-content select {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Media query for smaller windows */
@media screen and (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  #menu-bar {
    height: 20px;
  }

  .menu-button {
    font-size: 12px;
    padding: 3px 6px;
  }

  #panel {
    height: 30px;
  }

  .sub-button {
    font-size: 12px;
    padding: 3px 6px;
  }

  #editor {
    height: calc(100vh - 51px);
  }

  #status-bar {
    height: 20px;
  }

  #status-bar div {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-content {
    width: 250px;
  }

  .modal-content input,
  .modal-content select {
    width: calc(100% - 10px);
  }

  .modal-content button {
    padding: 8px;
  }
}
