* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[theme="dark"] {
  background-color: #222222;
  color: #fff;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#menu-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  height: 30px;
}

.menu-button {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #555;
}

.menu-button[state="active"] {
  background-color: #464646;
  border-bottom: 1px solid #ffffff;
}

#panel {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 40px;
  border-bottom: 1px solid #ccc;
}

#panel[theme="dark"] {
  background-color: #505050;
  color: #fff;
  border-bottom: 1px solid #333;
}

.sub-panel {
  display: none;
}

.sub-button {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease;
  background-color: rgba(255, 233, 233, 0);
}

.sub-button[theme="dark"] {
  color: #fff;
}

.sub-button:hover {
  background-color: #ddd;
}

.sub-button[theme="dark"]:hover {
  background-color: #666;
}

.sub-button i {
  margin-right: 5px;
}

#editor {
  position: relative;
  height: calc(100vh - 71px);
}

#editor-textarea {
  width: 100%;
  height: 98%;
  border: none;
  resize: none;
  outline: none;
  font-family: Courier New, monospace;
  font-size: 16px;
  padding: 10px;
}

#editor-textarea[theme="dark"] {
  background-color: #222222;
  color: #fff;
}

#status-bar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  height: 30px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: 3;
}

#status-bar[theme="dark"] {
  background-color: #505050;
  color: #fff;
  border-top: 1px solid #333;
}

#status-bar div {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

#status-bar[theme="dark"] div {
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
}

.modal-content[theme="dark"] {
  background-color: #222222;
  color: #fff;
  border: 1px solid #ccc;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button[theme="dark"]:hover, .close-button[theme="dark"]:focus {
  color: #ccc;
}

.modal-content h3 {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-content h3[theme="dark"] {
  color: #fff;
}

.modal-content input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 5px 0;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin: 5px 0;
}

.modal-content button:hover {
  background-color: #555;
}

.modal-content label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.modal-content label[theme="dark"] {
  color: #fff;
}

.modal-content select {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
